@charset "UTF-8";

@font-face {
  font-family: FontsFree-Net-SFProDisplay-Regular;
  font-display: swap;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/FontsFree-Net-SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FontsFree-Net-SFProDisplay-Bold;
  font-display: swap;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/FontsFree-Net-SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: space_age_cyrillic;
  font-display: swap;
  src: url("../fonts/space_age_cyrillic.woff2") format("woff2"), url("../fonts/space_age_cyrillic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*--------------------*/

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: FontsFree-Net-SFProDisplay-Regular;
  color: #fff;
}

.logo {
  font-family: space_age_cyrillic;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

foreignObject {
  text-align: left;
}

/**********************************************************************/

.no-webp .footer{
  background-image: url(../img/footer.jpg); }

.footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 150px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__list {
  width: 165px;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.footer__text + .footer__text {
  margin-top: 50px;
}

.footer__list-w {
  margin-left: 50px;
  width: 115px;
  margin-right: 100px;
}

.footer__list-item {
  margin-bottom: 20px;
}

.footer__link {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.footer__link:hover {
  color: #CB0E0E;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__list-item2 {
  margin-bottom: 20px;
}

.footer__link2 {
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.footer__link2:hover {
  color: #CB0E0E;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

/**********************************************************************/

.no-webp .header{
  background-image: url(../img/bg1.jpg); }

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-btn {
  z-index: 20;
  position: relative;
  display: none;
}

.header__menu-btn span {
  height: 30px;
  width: 40px;
  display: block;
  height: 2px;
  background-color: #fff;
  margin-bottom: 9px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 0 30px;
}

.header__links:hover {
  color: #CB0E0E;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__number {
  font-size: 24px;
  line-height: 29px;
}

.header__icon {
  margin: 0 0 0 22px;
}

.header__main {
  max-width: 600px;
}

.header__title {
  font-family: space_age_cyrillic;
  font-weight: 400;
  line-height: 60px;
  font-size: 60px;
}

.header__title span {
  font-size: 110px;
}

.header__discr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  line-height: 29px;
}

.header__button {
  font-size: 24px;
  margin-top: 50px;
  line-height: 29px;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 15px 0;
  width: 100%;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5%;
}

.header__columns {
  width: 165px;
  line-height: 17px;
}

.header__columns + .header__columns {
  margin: 0 0 0 52px;
}

.no-webp .about{
  background-image: url(../img/bg2.jpg); }

.about {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.about__logo {
  margin-top: 100px;
}

.about__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__list-v {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img {
  max-width: 100%;
}

.about__body {
  max-width: 600px;
}

.about__body-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.about__subtitle {
  text-transform: uppercase;
  color: #036CCA;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
}

.about__columns {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__column {
  width: 165px;
  font-size: 16px;
  line-height: 19px;
}

.about__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0 10px 0;
}

.about__question {
  font-size: 16px;
  line-height: 19px;
  padding: 10px 0;
}

.about__data2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;
}

.about__numbers {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  padding: 1px 0 7px 0;
}

.about__numbers span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.about__button {
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 25px 40px;
  margin-top: 50px;
}

.about__button-v {
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 25px 40px;
  margin-top: 50px;
}

.about__text {
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
  background-image: url(../img/star.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding: 0 0 0 10px;
}

.no-webp .how{
  background-image: url(../img/how-bg.jpg); }

.how {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.how__logo {
  margin-top: 100px;
  margin-bottom: 100px;
}

.how__box-list {
  display: none;
}

.how__box {
  text-align: center;
}

.how__box g:hover circle {
  fill: #036CCA;
  r: 20px;
}

.how__box g:hover text {
  fill: #036CCA;
  font-size: 36px;
}

.how__box g:hover foreignObject {
  color: #036CCA;
  font-size: 22px;
}

.how__box circle,
.how__box text,
.how__box foreignObject {
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.no-webp .book{
  background-image: url(../img/book-bg.jpg); }

.book {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.book__logo {
  margin-top: 100px;
}

.book__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book__column + .book__column {
  margin-left: 0;
  margin-right: 0;
}

.book__column {
  margin-top: 100px;
  margin-left: auto;
  margin-right: 50px;
  font-size: 14px;
  line-height: 17px;
  width: 165px;
}

/*******************************************************/

.no-webp .info{
  background-image: url(../img/special-bg.jpg); }

.info {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
}

.special__logo {
  padding-bottom: 100px;
}

.special__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special__item {
  width: 500px;
}

.special__box {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 40px 75px;
  border: 1px solid #fff;
}

.special__text {
  width: 236px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto;
}

.special__text span {
  color: #CB0E0E;
}

.special__old-price {
  text-align: right;
  line-height: 18px;
  margin-bottom: 16px;
  position: relative;
}

.special__old-price:before {
  position: absolute;
  content: "";
  background-color: #CB0E0E;
  height: 1px;
  width: 68px;
  top: 7px;
  right: 0;
  -webkit-transform: rotate(16deg);
      -ms-transform: rotate(16deg);
          transform: rotate(16deg);
}

.special__new-price {
  font-size: 48px;
  line-height: 57px;
}

.special__button {
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  padding: 20px 0;
  margin-top: 25px;
  margin-bottom: 140px;
  cursor: pointer;
}

/**************************************************************/

.follow {
  padding-bottom: 200px;
}

.follow__logo {
  margin-bottom: 100px;
}

.follow__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.follow__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.follow__list {
  margin-bottom: 25px;
}

.follow__item {
  font-size: 24px;
  line-height: 29px;
  position: relative;
  padding-left: 36px;
}

.follow__item:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 5px;
  left: 9px;
  background-color: #fff;
}

.follow__subtext {
  font-size: 12px;
  line-height: 14px;
}

.follow__buttons {
  width: 500px;
}

.follow__button {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #fff;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.follow__button-v {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #fff;
  text-align: center;
  position: relative;
  width: 100%;
}

.no-webp .follow__button-v:before{
  background-image: url(../img/photograf.png); }

.follow__button-v:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 43px;
  width: 192px;
  height: 150px;
}

.photo {
  text-align: center;
}

.photo__inner {
  border: 1px solid #fff;
  margin-bottom: 50px;
  padding: 100px 0;
}

.photo__img {
  margin: 0 auto;
  max-width: 100%;
}

.photo__text {
  font-family: space_age_cyrillic;
  font-size: 24px;
  line-height: 30px;
}

.photo__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.photo__arrow-left {
  left: 65px;
}

.photo__arrow-right {
  right: 65px;
}

.blank {
  background-color: #010203;
  padding: 100px 0;
}

.blank__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blank__item {
  width: 500px;
}

.blank__item-v {
  width: 500px;
}

.blank__logo {
  padding-bottom: 46px;
}

.blank__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 80px;
}

.blank__int {
  background-color: #010203;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  width: 100%;
  padding-bottom: 20px;
  font-family: FontsFree-Net-SFProDisplay-Regular;
  padding: 20px 0;
  color: #fff;
  line-height: 17px;
}

.blank__int::-webkit-input-placeholder {
  font-family: FontsFree-Net-SFProDisplay-Regular;
  color: #fff;
  line-height: 17px;
}

.blank__int::-moz-placeholder {
  font-family: FontsFree-Net-SFProDisplay-Regular;
  color: #fff;
  line-height: 17px;
}

.blank__int:-ms-input-placeholder {
  font-family: FontsFree-Net-SFProDisplay-Regular;
  color: #fff;
  line-height: 17px;
}

.blank__int::-ms-input-placeholder {
  font-family: FontsFree-Net-SFProDisplay-Regular;
  color: #fff;
  line-height: 17px;
}

.blank__int::placeholder {
  font-family: FontsFree-Net-SFProDisplay-Regular;
  color: #fff;
  line-height: 17px;
}

.blank__button {
  margin-top: 40px;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  padding: 20px 0;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.blank__text-2 {
  width: 600px;
  font-size: 24px;
  line-height: 29px;
}

.blank__img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

@media (max-width: 1350px) {
  .blank {
    padding: 50px 0;
  }

  .blank__list {
    display: block;
    text-align: center;
  }

  .blank__item {
    width: 100%;
    text-align: center;
    padding-top: 40px;
  }

  .blank__item-v {
    width: 100%;
  }

  .blank__text-2 {
    width: 100%;
    text-align: center;
  }

  .blank__img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 1160px) {
  .special__logo {
    text-align: center;
  }

  .follow__inner {
    display: block;
  }

  .follow__box {
    width: 100%;
    margin-bottom: 174px;
    margin-right: 0;
  }

  .follow__buttons {
    max-width: 500px;
    margin: 0 auto;
    width: auto;
  }
}

@media (max-width: 1130px) {
  .about__logo {
    text-align: center;
  }

  .about__list {
    width: 100%;
    display: block;
    text-align: center;
  }

  .about__list-v {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .about__body {
    max-width: 100%;
  }

  .about__body-title {
    margin-top: 20px;
  }

  .about__columns {
    display: block;
  }

  .about__column {
    width: 100%;
    padding-bottom: 20px;
  }

  .about__numbers {
    font-size: 28px;
  }
}

@media (max-width: 1110px) {
  .book {
    background-position: center left;
  }

  .book__logo {
    margin-top: 0;
    padding-top: 30px;
  }

  .book__inner {
    display: block;
    text-align: center;
  }

  .book__column + .book__column {
    margin-top: 30px;
  }

  .book__column {
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
  }
}

@media (max-width: 1060px) {
  .special__item {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .header {
    background-position: center right;
  }

  .header__main {
    margin: 0 auto;
  }

  .header__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 930px) {
  .header__top {
    padding-top: 30px;
  }

  .header__menu-btn {
    display: block;
  }

  .header__list {
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #010203;
    padding-top: 90px;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
  }

  .header__list.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header__item {
    padding: 15px 0;
  }

  .header__tel {
    z-index: 20;
  }
}

@media (max-width: 870px) {
  .how__box-list {
    display: block;
    text-align: left;
    font-size: 18px;
    line-height: 21px;
  }

  .how__box-item {
    padding-bottom: 40px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #fff;
    position: relative;
  }

  .how__box-item:last-child {
    border-left: none;
  }

  .how__box-item::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    left: -11px;
    background-color: #fff;
    border-radius: 50%;
  }

  .how__box svg {
    display: none;
  }
}

@media (max-width: 730px) {
  .how__logo {
    margin-top: 0;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .header__main {
    text-align: center;
  }

  .header__title {
    font-size: 34px;
    line-height: 28px;
  }

  .header__title span {
    font-size: 60px;
  }

  .header__discr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
    font-size: 18px;
  }

  .header__discr p {
    padding: 0 10px;
  }

  .header__button {
    font-size: 14px;
    margin-top: 26px;
    line-height: 28px;
    width: 60%;
  }

  .header__bottom {
    display: block;
  }

  .header__columns {
    width: 100%;
    text-align: center;
  }

  .header__columns + .header__columns {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 631px) {
  .special__button {
    margin-bottom: 70px;
  }

  .follow {
    padding-bottom: 100px;
  }

  .follow__logo {
    font-size: 23px;
    text-align: center;
    margin-bottom: 50px;
  }

  .photo__inner {
    padding: 0;
  }

  .photo__text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .footer__inner {
    display: block;
  }

  .footer__list {
    width: 100%;
  }

  .footer__text + .footer__text {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .footer__list-w {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    width: 100%;
  }

  .book {
    background-position: left;
  }

  .book__logo {
    padding-top: 0;
    font-size: 24px;
  }

  .book__column {
    padding-top: 0;
    font-size: 14px;
  }
}

@media (max-width: 535px) {
  .about__logo {
    text-align: center;
  }

  .about__body {
    text-align: center;
  }

  .about__body-title {
    font-size: 20px;
  }

  .about__subtitle {
    font-size: 10px;
  }

  .about__columns {
    display: block;
  }

  .about__column {
    font-size: 13px;
    width: 100%;
    margin-top: 10px;
  }

  .about__question {
    font-size: 13px;
  }

  .about__numbers {
    font-size: 24px;
  }

  .about__numbers span {
    font-size: 13px;
  }

  .about__button {
    font-size: 14px;
  }

  .about__button-v {
    font-size: 14px;
  }

  .special__button {
    font-size: 14px;
  }

  .follow__text {
    font-size: 19px;
    line-height: 16px;
  }

  .follow__item {
    font-size: 15px;
    line-height: 27px;
  }

  .follow__item:before {
    width: 15px;
    height: 15px;
  }

  .follow__button {
    font-size: 14px;
  }

  .follow__button-v {
    font-size: 14px;
  }
}

@media (max-width: 504px) {
  .special__logo {
    font-size: 29px;
  }

  .special__text {
    width: 100%;
    font-size: 18px;
  }

  .special__new-price {
    font-size: 24px;
  }

  .follow__buttons {
    margin: 0 auto;
  }
}

@media (max-width: 481px) {
  .photo__arrow {
    display: none;
  }
}

@media (max-width: 460px) {
  .how__logo {
    font-size: 32px;
  }
}

@media (max-width: 370px) {
  .header__tel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 34px;
  }

  .header__icon {
    width: 100%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .header__title {
    font-size: 28px;
  }

  .header__title span {
    font-size: 39px;
  }

  .header__button {
    width: 85%;
  }

  .about__logo {
    font-size: 30px;
    margin-top: 0;
  }

  .about__column {
    width: 90%;
  }

  .about__question {
    font-size: 9px;
  }

  .about__numbers {
    font-size: 17px;
  }
}

@media (max-width: 368px) {
  .info {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .special__logo {
    padding-bottom: 40px;
  }

  .special__button {
    margin-bottom: 40px;
  }

  .blank__logo {
    font-size: 30px;
    line-height: 8px;
  }

  .blank__text {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .blank__button {
    margin-top: 20px;
  }

  .blank__text-2 {
    font-size: 17px;
    line-height: 25px;
  }
}

.webp .footer{ background-image: url(../img/footer.webp); }

.webp .header{ background-image: url(../img/bg1.webp); }

.webp .about{ background-image: url(../img/bg2.webp); }

.webp .how{ background-image: url(../img/how-bg.webp); }

.webp .book{ background-image: url(../img/book-bg.webp); }

.webp .info{ background-image: url(../img/special-bg.webp); }

.webp .follow__button-v:before{ background-image: url(../img/photograf.webp); }